.hidden_button button{
    display: none;
}

.hidden_button:hover button{
    display: unset;
}

.hidden{
    display: none !important;
}

.show{
    display: unset;
}

body {
    min-width: 1115px;
    background:#2c2c54
}